# Terraform yerel bağımlılıkları ve durum dosyaları
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python sanal ortamı ve önbellekleri
venv/
.venv/
__pycache__/
*.pyc

# Node.js bağımlılıkları ve derleme çıktıları
frontend/node_modules/
frontend/dist/
.env
.env.local
.env.development.local